include LICENSE
include README.md
include CITATION.cff
include pyproject.toml

recursive-include digitalsoma *.py py.typed
recursive-include docs *.md

exclude examples/*
exclude tests/*
exclude equitwin/*
exclude *.zip
exclude *.json
